<h1 class="title">Rock Paper Scissors Scholar</h1>

<!--
<svg width="100" height="100">
    <rect x="0" y="0" width="100" height="50" rx="25" ry="25" fill="#ccc" />
    <circle cx="25" cy="25" r="20" fill="#fff" />
</svg>
<svg>
    <circle cx="100" cy="100" r="90" stroke="black" stroke-width="4" fill="yellow" />
    <circle cx="60" cy="70" r="10" fill="black"/>
    <circle cx="140" cy="70" r="10" fill="black"/>
    <path d="M50,120 A60,90 0 0,0 150,120" fill="black"/>
</svg>
-->


<app-game> </app-game>
