:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.selected-moves-panel {
    display: flex;
    gap: 1rem;
}





.selected-moves-panel * {
    width: 7rem;
}
